<html>
  <head>
    <title>Bridge distribution game!</title>
  </head>
  <body>
  <p>Here is a hand, based on the auction, guess the distribution. Use Q W E R, A S D F and tab to switch between hands. Press enter when you've finished.</p>

  <p>You're gonna do 5 hands. You can score up to 10 points, and you lose a point for each one away.</p>

  <p>Good luck! <a href="play/<%= @play_id %>/0">Play!</p>
  </body>
</html>